# Virtual environment
venv/

# Python cache files
*.pyc
*.pyo
__pycache__/

# IDE and editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Environment and API keys
.env
